
$white-color: #fff;
$black-color: rgba(0, 0, 0, 0.7);
$main-color: #f2f3f7;
$medium-gray-color: rgba(142, 142, 142, .62);
$blue-color: #2c98f0;
$light-gray-color: #8e8e8e;
$light-green-color: #F2FBF9;
$medium-green-color: rgba(26, 188, 156, 0.8);
$dark-green-color: #007A5C;
//$background-light-green-color: rgba(26, 188, 156, .3);
$background-light-green-color: rgba(26, 188, 156, 0.8);
